<div class="robo-memory-card">
  <div class="flip-container">
    <div class="front">
      <img src="static/pages/home-page/img/card.jpg" />
    </div>
    <div class="back">
      <img class="robo-img" src="http://robohash.org/{{random}}?bgset=bg1" />
    </div>
  </div>
</div>