<div class="robo-memory-grid-wrapper">
  <div class="robo-memory-grid">
    <div class="lock-ui">
      <div class="bg"></div>
      <div class="loading">
        <p>Please wait... Gathering robot army!</p>
      </div>
    </div>
  </div>
  <div class="finish-btn hide">
    <button type="button" class="finish-game btn btn-primary">Finish!</button>
  </div>
</div>