<div class="page-base">
  <div class="navbar-spacer"></div>
  <div class="content-wrapper">
    <div class="loading-background">
      <div class="loading-container">
        <h1>
          Loading...
        </h1>
      </div>
    </div>
    <nav class="page-base-nav navbar navbar-fixed-top navbar-default" role="navigation"></nav>
  </div>
    <div class="hide content-display dh-scroll-content">
      <div class="content-display-wrapper"></div>
    </div>
  </div>
</div>